@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}

@* the fun starts here *@

@{
    var currentNode = UmbracoContext.Current.PublishedContentRequest.PublishedContent;
    var homepage= Model.Content.AncestorsOrSelf(1).FirstOrDefault();
    var pages = homepage.Children;
    
    <!-- var galleryArray = homepage.GetPropertyValue<string>("gallery").Split(new Char[]{','}, StringSplitOptions.RemoveEmptyEntries).Select(int.Parse); -->
   
    
}
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="Moc My Nghe Tấn Cường" content="width=device-width"/>
        <meta name="google-site-verification" content="7HepdGYl2y75fb1Z7XV4tcwZIBi_TF7oMV0gWCCk7mY" />
        <meta name=”viewport” content=”width=device-width, initial-scale=1″>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/js/jssor.slider.min.js" type="text/javascript"></script>
        <script src="/js/ScriptMaster.js" type="text/javascript"></script>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.plugins.min.js"></script>
      
        <link href="/Css/StyleMaster.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/Css/Styleproducts.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/Css/StyleTrangChu.css" rel="stylesheet" type="text/css" media="all" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        @{
            string title = (homepage.Name == currentNode.Name ? "Mộc Mỹ Nghệ": CurrentPage.pageTittle);
        }
        <title>@(title) Tấn Cường</title>
    </head>
    <body>
        <div class="container-fluid viewcontent">
            <!-- Header -->
                <nav class="navbar navbar-default navbar-fixed-top">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @{
                            string active = (homepage.Name == currentNode.Name ? "active": "");
                        }
                        <a class="@active navbar-brand menu_navigation" href="@homepage.Url">Tấn Cường</a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            @Html.Partial("Navigation")
                        <ul class="nav navbar-nav navbar-right">
                            <p class="navbar-text">@(homepage.GetPropertyValue<string>("diaChi"))</p>
                            <p class="navbar-text">@(homepage.GetPropertyValue<string>("sodienThoai"))</p>
                        </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
            <!-- End header -->
            <!-- Slider -->
                <!-- #region Jssor Slider Begin -->
                <!-- Generator: Jssor Slider Maker -->
                <!-- Source: https://www.jssor.com -->
                <div class="container-fluid">
                    
                    <script type="text/javascript">
                        jssor_1_slider_init = function() {

                            var jssor_1_options = {
                            $AutoPlay: 1,
                            $SlideDuration: 800,
                            $SlideEasing: $Jease$.$OutQuint,
                            $ArrowNavigatorOptions: {
                                $Class: $JssorArrowNavigator$
                            },
                            $BulletNavigatorOptions: {
                                $Class: $JssorBulletNavigator$
                            }
                            };

                            var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

                            /*#region responsive code begin*/

                            var MAX_WIDTH = 3000;

                            function ScaleSlider() {
                                var containerElement = jssor_1_slider.$Elmt.parentNode;
                                var containerWidth = containerElement.clientWidth;

                                if (containerWidth) {

                                    var expectedWidth = Math.min(MAX_WIDTH || containerWidth, containerWidth);

                                    jssor_1_slider.$ScaleWidth(expectedWidth);
                                }
                                else {
                                    window.setTimeout(ScaleSlider, 30);
                                }
                            }

                            ScaleSlider();

                            $Jssor$.$AddEvent(window, "load", ScaleSlider);
                            $Jssor$.$AddEvent(window, "resize", ScaleSlider);
                            $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
                            /*#endregion responsive code end*/
                        };
                    </script>
                    <div id="jssor_1" style="position:relative;margin:0 auto;top:50px;left:-12px;width:1300px;height:500px;overflow:hidden;visibility:hidden;">
                        <!-- Loading Screen -->
                        <div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
                            <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="../svg/loading/static-svg/spin.svg" />
                        </div>
                        <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:1300px;height:500px;overflow:hidden;">
                            @{
                                 if (homepage.HasValue("gallery")){
                                    var caseStudyImagesList = homepage.GetPropertyValue<string>("gallery").Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries).Select(int.Parse);
                                    var caseStudyImagesCollection = Umbraco.TypedMedia(caseStudyImagesList).Where(x => x != null);
                                    foreach (var item in caseStudyImagesCollection)
                                        {
                                            <div>
                                                <img class="lazy" data-u="image" data-src="@item.Url" />
                                            </div>
                                        }
                                }
                            }
                        </div>
                        <!-- Bullet Navigator -->
                        <div data-u="navigator" class="jssorb032" style="position:absolute;bottom:12px;right:12px;" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">
                            <div data-u="prototype" class="i" style="width:16px;height:16px;">
                                <svg viewBox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                                    <circle class="b" cx="8000" cy="8000" r="5800"></circle>
                                </svg>
                            </div>
                        </div>
                        <!-- Arrow Navigator -->
                        <div data-u="arrowleft" class="jssora051" style="width:65px;height:65px;top:0px;left:25px;" data-autocenter="2" data-scale="0.75" data-scale-left="0.75">
                            <svg viewBox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                                <polyline class="a" points="11040,1920 4960,8000 11040,14080 "></polyline>
                            </svg>
                        </div>
                        <div data-u="arrowright" class="jssora051" style="width:65px;height:65px;top:0px;right:25px;" data-autocenter="2" data-scale="0.75" data-scale-right="0.75">
                            <svg viewBox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                                <polyline class="a" points="4960,1920 11040,8000 4960,14080 "></polyline>
                            </svg>
                        </div>
                    </div>
                    <script type="text/javascript">jssor_1_slider_init();</script>
                   
                </div>
                
                <!-- #endregion Jssor Slider End -->
            <!-- Item slider end-->
            <!-- content -->
                <div class="container nav-text">
                    @{
                        var rootPage = homepage;
                        var allPublishedContent = new List<IPublishedContent>();
                        while(rootPage != currentNode) {
                            allPublishedContent.Add(currentNode);
                            currentNode = currentNode.Parent;
                        }
                        allPublishedContent.Add(homepage);
                        while (allPublishedContent.Count > 0) {
                            var count = allPublishedContent.Count;
                            string url = "";
                            string name = "";
                            if (count != 1) {
                                url = allPublishedContent.LastOrDefault().Url;
                                name =  " > ";
                            }
                            else {
                                url = "javascript:void(0)";
                            }
                            <a href="@url">@allPublishedContent.LastOrDefault().Name</a><span>@name</span>
                            allPublishedContent.Remove(allPublishedContent.LastOrDefault());
                        }
                        
                    }
                </div>
                <section id="content" class="container contentofpage bar background-white no-mb">
                    <div class="w3l_banner_nav_left .navbar-fixed-left">
                        <nav  id="w3l_banner_nav_left">
                            <nav class="navbar nav_bottom">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header nav_2">
                                    <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    </button>
                                </div> 
                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                                    <ul class="nav navbar-nav nav_1" id="rootnavul">
                                        <li class="menu_services">Dịch Vụ</li>
                                        @{
                                            var servicesNode = homepage.Children.FirstOrDefault(x => x.Name == "Dịch Vụ");
                                            if (servicesNode != null) {
                                                var serviceItem = servicesNode.Children;
                                                foreach(var item in serviceItem) {
                                                    <li><a href="javascript:void(0)">+ @item.Name</a></li>
                                                }
                                            }
                                        }
                                    </ul>
                                    <ul class="nav navbar-nav nav_1 nav-products-fixed">
                                        <li class="menu_services">Sản Phẩm Mới</li>
                                        @{
                                            var productsNode = homepage.Children.FirstOrDefault(x => x.Name == "Sản phẩm");
                                            if (productsNode != null) {
                                                var productItem = productsNode.Children;
                                                var count = 0;
                                                foreach(var item in productItem) {
                                                    if (item.GetPropertyValue<bool>("moi")){
                                                        count++;
                                                        var images = item.GetPropertyValue<int>("hinhAnh");
                                                        var image = Umbraco.TypedMedia(images);
                                                        var url = String.Empty;
                                                        if (image != null) {
                                                            url = image.Url;
                                                        }
                                                        if (count < 5) {
                                                        <li>
                                                            <a class="image-product-nav" href="@item.Url"><img class="nav-menu-products-image lazy" data-src="@url" /></a>
                                                            <a class="detail" href="@item.Url"><span class="text-more">Xem thêm</span></a>
                                                        </li> 
                                                        }
                                                        
                                                    }
                                                }
                                            }
                                        }
                                    </ul>
                                    </div><!-- /.navbar-collapse -->
                            </nav>
                        </nav>
                    </div>
                    <div class="content-info">
                        @RenderBody()
                    </div>
                </section>
                <div class="clear-fix"></div>
            <!-- Endcontent -->
            <!-- Slider for news -->
            <!-- End slider for news -->
            <div id="map" class="map_content container">
                <div class="map-free-size"></div>
                <div class="map-content-size">
                    <iframe class="map_frame" src="https://map.coccoc.com/map/16959344321417582"
                    frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="clear-fix"></div>
            <!-- Footer -->
                <footer id="footer" class="footer_content">
                    <div class="row">
                        <div class="col-md-6 col-mb-4">
                            <p class="header_footer">
                            Chúng tôi cam kết:
                            </p>
                            <ul class="detail_footer">
                                <li> Tư vấn, thiết kế trang trí nội thất hiệu quả.</li>
                                <li> Sản xuất thiết kế sản phẩm theo quy trình hiện đại,  đảm bảo chất lượng sản phẩm cung cấp</li>
                                <li> Tư vấn thiết kế về đồ gỗ miễn phí</li>
                                <li> Bảo trì sản phẩm </li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-mb-4">
                            <p class="header_footer">
                                Lời kết:
                                </p>
                            <p class="detail_footer">
                                Cơ sở Mộc Mỹ Nghệ Cao Cấp Tấn Cường xin chân thành cảm ơn quý khách hàng đã tin tưởng và sử dụng sản phẩm
                            của chúng tôi cung cấp trong thời gian qua. Kính chúc quý khách luôn gặp nhiều may mắn và thành đạt.
                            </p>
                        </div>
                        <div class="clearfix"></div>
                        <div class="text-center">
                            <p class="header_footer">Mọi Chi Tiết Xin Liên Hệ:</p>
                            <p class="detail_footer">CƠ SỞ MỘC MỸ NGHỆ CAO CẤP 
                            TẤN CƯỜNG<br>
                            Hotline: 0935.056.445<br>
                            Địa Chỉ: 387 Nguyễn Hữu Thọ - Quận Hải Châu - TP. Đà Nẵng.<br>
                            <a href="https://www.facebook.com/nguyen.tancuong.169/photos?source_ref=pb_friends_tl&__mref=message" class="fa fa-facebook"></a>
                            </p>
                        </div>
                    </div>
                   
                </footer>
                
            <!-- End footer -->
        </div>
        <script>
            $('.lazy').Lazy();
            var fixmeTop = $('.nav-products-fixed').offset().top;
            var bottom = $('.map_content').offset().top;
            var widthNav = document.getElementById('rootnavul').offsetWidth;
            $(window).scroll(function() {                  // assign scroll event listener
                var currentScroll = $(window).scrollTop(); // get current position
                if (currentScroll >= fixmeTop && currentScroll < bottom) {           // apply position: fixed if you
                    var leftNav = $('.w3l_banner_nav_left').offset().left;
                    
                    /*$('.nav-products-fixed').css({                      // scroll to that element or below it
                        position: 'fixed',
                        top: '0',
                        left: '0'
                    });
                } else {                                   // apply position: static
                    $('.nav-products-fixed').css({                      // if you scroll above it
                        position: 'static'
                    }); */

                    $('.nav-products-fixed').addClass('style-products-image');
                    $('.style-products-image').css({                      // scroll to that element or below it
                        left: leftNav,
                        width: '15%',
                    });
                    $('.menu_services').css({                      // scroll to that element or below it
                        'font-size':'25',
                    });
                     $('.map-free-size').css({                      // scroll to that element or below it
                        width: '19%',
                        float: 'left',

                    });
                     $('.map-content-size').css({                      // scroll to that element or below it
                        width: '81%',
                        float: 'right',
                    });
                }
                else {
                     $('.menu_services').css({                      // scroll to that element or below it
                        'font-size':'30',
                    });
                    $('.nav-products-fixed').removeClass('style-products-image');
                     $('.nav-products-fixed').css({                      // scroll to that element or below it
                        width: 'auto',
                    });
                     $('.map-free-size').css({                      // scroll to that element or below it
                        width: '0',

                    });
                     $('.map-content-size').css({                      // scroll to that element or below it
                        width: '100%',
                    });
                }
            });
            
        </script>
        <!-- <script>
            var divLeft = $('#w3l_banner_nav_left');
            var heightLeft = divLeft.height();
            var divRight = $('#w3l_banner_nav_right');
            divRight.css('height', heightLeft);
            window.alert('ds');
        </script> -->
    </body>
</html>