@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
	var currentNode = UmbracoContext.Current.PublishedContentRequest.PublishedContent;
}

@* the fun starts here *@
<div class="pageProducts heading text-center w3l_banner_nav_right" id="w3l_banner_nav_right">
	<div class="label-page-header">
		<h1 class="label-page-header-tittle">DANH SÁCH SẢN PHẨM</h1>
		<hr class="label-page-header-dotted-line">
	</div>
	<div class="page-products row">
		<div class="col-md-12 col-sm-12">
			@{
				foreach(var product in currentNode.Children.ToList()) {
					var images = product.GetPropertyValue<int>("hinhAnh");
					var image = Umbraco.TypedMedia(images);
					var url = String.Empty;
					if (image != null) {
						url = image.Url;
					}
					<div class="col-md-6">
						<article class="page-products-content">
							<header>
								<h3>
									<span class="page-products-postname">
										<a  href="@product.Url">@(product.GetPropertyValue<string>("tittle"))</a>
									</span>
								</h3>
							</header>
							<div class="page-products-item">
								<a href="@product.Url"><img class="page-products-image lazy" data-src="@url"></a>
								<div class="page-products-detail">
									<p>@(product.GetPropertyValue<string>("moTa"))</p>
									<p><span class="page-products-price text">Giá: @(product.GetPropertyValue<string>("gia")) </span></p>
								</div>
							</div>
							
						</article>
					</div>
					<!-- if ((currentNode.Children.IndexOf(product) % 2 == 1 && currentNode.Children.IndexOf(product) != 0 )){
						<div class="clearfix"></div>
					} -->
				}
			}
		</div>
		<!-- <div>
			<a onclick="" href="javascript:void(0)" class="header-more">Xem thêm</a>
		</div> -->
	</div>
</div>